/* -----------------index----------------------------*/


/*.intro{
    background-color: rgba(238,248,255,0.7);/*transparent background*/
    border:solid;
    border-color:#dddddd;
    width:650px;
}/*




/* ----------------portfolio------------------- */

body{
    color:#ffffff;
}

.mainHeader{
    background-color: #ffffff;
    padding:10px;
}

.header-list{
    display:block;
    float:right;
    text-align:center;
    overflow:hidden;
    padding:25px;
}

.header-tab{
    border:none;
    background-color:#4aaaa5;
    float:left;
    
}



.commIcon{
    width:20%;
    height:20%;
}
.gamePic{
    width:25%;
    height:25%;
    border:1px;
    border:solid;
    border-color:gray;
       
}

/*.gamePic2{
    width:25%;
    height:25%;
    border:1px;
    border:solid;
    border-color:gray;    
    float:right;
}

.gamePic3{
    width:25%;
    height:25%;
    border:1px;
    border:solid;
    border-color:gray;  
    float:left;  
}

.gamePic4{
    width:25%;
    height:25%;
    border:1px;
    border:solid;
    border-color:gray;
    float:right;    
}

.gamePic5{
    width:25%;
    height:25%;
    border:1px;
    border:solid;
    border-color:gray;    
    float:left;
}*/

/*.placeholders{
    display:inline;
}*/

.sideNav{
    border:1px;
    border:solid;
    border-color:#dddddd;
    float:right;
    text-align: center;
    width:270px;
    
}

.container{
    border:1px;
    border:solid;
    border-color:#dddddd;
    background-color:#ffffff;
    width:650px;
    float:left;
    
    
}

.wrapper{
    width:960px;
    margin:0 auto;
}

.footer-style{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height: 50px;
    background-color:#666666;
    color:#e9e7e7;
    text-align:center;
}
